PORT=<porta_do_servidor>
MONGO_INITDB_ROOT_USERNAME=<usuario_admin>
MONGO_INITDB_ROOT_PASSWORD=<senha_forte>
MONGO_INITDB_DATABASE=<nome_da_database>
MONGODB_URI=mongodb://<usuario>:<senha>@localhost:27017/<database>?authSource=admin
JWT_SECRET=<sua_chave_jwt>